@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {box-sizing: border-box;}

body {
    background: #000;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
}

#game-canvas {
    box-shadow: 10px 10px 5px #111;
    border:solid 5px #350000;
    background: #000;
    margin-left: 40px;
}

main {
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    width: 100%;
}

.tilesMenu {
    background: #232222;
    height: 800px;
    width: 20%;
    border: solid #575656 5px;
    border-radius: 10px;
}